{% extends '::base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body %}
    <div class="hero-unit">
        <h3>USUARIOS</h3>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID Usuario</th>
                <th>Contrase&ntilde;a</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <!--<td><a href="{{ path('usuario_show', { 'id': entity.userid }) }}">{{ entity.userid }}</a></td>-->
                <td>{{ entity.userid }}</td>
                <td>{{ entity.password }}</td>
                <td>{{ entity.username }}</td>
                <td>
                    <!--<a href="{{ path('usuario_show', { 'id': entity.userid }) }}" class="btn btn-info btn-small" role="button">Mostrar</a>-->
                    <a href="{{ path('usuario_edit', { 'id': entity.userid }) }}" class="btn btn-info btn-small" role="button">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="{{ path('usuario_new') }}" class="btn btn-info btn-small" role="button">
            Nuevo Usuario
        </a>
    </p>
        
    {% endblock %}
