{% extends '::base.html.twig' %}

{% block body -%}
    <div class="hero-unit">
        <h3>USUARIOS</h3>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Userid</th>
                <!--<th>Password</th>-->
                <th>Username</th>
                <!--<th>Salt</th>-->
                <th>Roles</th>
                <th><a href="{{ path('usuario_new') }}" class="btn btn-info btn-small" role="button">Nuevo</a></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.userid }}</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.roles|join(' ') }}</td>
                <td>
                    <a href="{{ path('usuario_show', { 'id': entity.userid }) }}" class="btn btn-info btn-small" role="button">Ver</a>
                    <a href="{{ path('usuario_edit', { 'id': entity.userid }) }}" class="btn btn-info btn-small" role="button">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
