{% extends '::base.html.twig' %}

{% block body -%}
    <div class="hero-unit">
        <h3>{% trans from "usuarios" %}title{% endtrans %}</h3>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{% trans from "usuarios" %}userid{% endtrans %}</th>
                <!--<th>Password</th>-->
                <th>{% trans from "usuarios" %}username{% endtrans %}</th>
                <!--<th>Salt</th>-->
                <th>{% trans from "usuarios" %}roles{% endtrans %}</th>
                <th><a href="{{ path('usuario_new') }}" class="btn btn-info btn-small" role="button">{% trans %}nuevo{% endtrans %}</a></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.userid }}</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.roles|join(' ') }}</td>
                <td>
                    <a href="{{ path('usuario_show', { 'id': entity.userid }) }}" class="btn btn-info btn-small" role="button">{% trans %}ver{% endtrans %}</a>
                    <a href="{{ path('usuario_edit', { 'id': entity.userid }) }}" class="btn btn-info btn-small" role="button">{% trans %}editar{% endtrans %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
