<!DOCTYPE html>
<html>
    <head>
        {% include '::header.html.twig' %}
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toogle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="{{ path('inmobiliaria_priego_inmuebles_homepage') }}">Inmobiliaria Priego</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li id="inicio" class="active"><a href="{{ path('inmobiliaria_priego_inmuebles_homepage') }}">{% trans from "navigation" %}inicio{% endtrans %}</a></li>
                            {% if app.user %}
                                <li><a href="{{ path('inmueble') }}">{% trans from "navigation" %}inmuebles{% endtrans %}</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li id="nuevousuario"><a href="{{ path('usuario') }}">{% trans from "navigation" %}users{% endtrans %}</a></li>
                                {% endif %}
                                    <li><a href="{{ path('logout') }}">{% trans from "navigation" %}logout{% endtrans %}</a></li>
                                {% set username %}
                                    {{ app.user.username }}
                                {% endset %}
                                <li><a>{% trans from "navigation" %}bienvenido.%username%{% endtrans %}</a></li>
                            {% else %}
                                <li><a href="{{ path('login') }}">{% trans from "navigation" %}login{% endtrans %}</a></li>
                                <li><a href="{{ path('usuario_new') }}">{% trans from "navigation" %}reg{% endtrans %}</a></li>
                            {% endif %}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        
        <div class="container">
            {% block body %}{% endblock %}
            <hr>
            <footer>
                <h6>2015 © Inmobiliaria Priego. | Contacto: {{ contact_email }}</h6>
            </footer>
        </div> <!-- /container -->
                
        {% block javascripts %}
            {% javascripts '@InmobiliariaPriegoWebBundle/Resources/public/plugins/bootstrap/js/*' output='js/compiled/main.js' %}
                <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
