{% extends '::base.html.twig' %}

{% block title %}Inmuebles{% endblock %}

{% block body -%}
    <div class="hero-unit">
        <h3>{% trans from "inmuebles" %}inmu.dest{% endtrans %}</h3>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Img</th>
                <th>{% trans from "inmuebles" %}inmu.ref{% endtrans %}</th>
                <th>{% trans from "inmuebles" %}inmu.tipo{% endtrans %}</th>
                <th>{% trans from "inmuebles" %}inmu.zona{% endtrans %}</th>
                <th>{% trans from "inmuebles" %}inmu.calle{% endtrans %}</th>
                <th>{% trans from "inmuebles" %}inmu.poblacion{% endtrans %}</th>
                <th>{% trans from "inmuebles" %}inmu.operacion{% endtrans %}</th>
                <th>{% trans from "inmuebles" %}inmu.precio{% endtrans %}</th>
                <th><a href="{{ path('inmueble_new') }}" class="btn btn-info btn-small" role="button">{% trans %}nuevo{% endtrans %}</a></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <img data-src="holder.js/300x200" alt="{{ entity.img }}" src="{{ asset('images/inmuebles/' ~ entity.img) }}" style="width: 100px;">
                </td>
                <td>{{ entity.ref }}</td>
                <td>{{ entity.tipo }}</td>
                <td>{{ entity.zona }}</td>
                <td>{{ entity.calle }}</td>
                <td>{{ entity.poblacion }}</td>
                <td>{{ entity.operacion }}</td>
                <td>{{ entity.precio }}</td>
                <td>
                    <a href="{{ path('inmueble_show', { 'id': entity.ref }) }}" class="btn btn-info btn-small" role="button">{% trans %}ver{% endtrans %}</a>
                    <a href="{{ path('inmueble_edit', { 'id': entity.ref }) }}" class="btn btn-info btn-small" role="button">{% trans %}editar{% endtrans %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
